{% extends "client/base.twig" %}

{% block content %}
    <h3>Resource Request Complete!</h3>
    <p>
            You have successfully called the APIs with your Access Token and state {{ session_id }}. 
    </p>
    <pre><code>Access Token: {{ token }} </code></pre>
  

    {# If the profile or list of friends were returned it will display the resource_view and the JSON Responce only once #}
    {% include 'client/resource_views/_api_footer.twig' %}
    {% if response.info is defined or response.profile is defined or response.friends is defined %}
        <hr>
            <a href="{{ url('request_resource')}}/basic?token={{ token }}&state={{ session_id }}">View Basic Profile</a> &bull;
            <a href="{{ url('request_resource')}}/profile?token={{ token }}&state={{ session_id }}">View Your Full Profile Details</a> &bull;
            <a href="{{ url('request_resource')}}/friends?token={{ token }}&state={{ session_id }}">View Your Freinds Details</a> &bull;
            <a href="{{ url('request_resource')}}/profile,friends?token={{ token }}&state={{ session_id }}">View Complete Details</a>
        <hr>
        {# Checks if a profile was returned and displays #}
        {% if response.profile is defined %}
            {% include 'client/resource_views/_profile.twig' %}
        {% endif %}
    
        {# Checks if the list of friends were returned and displays #}
        {% if response.friends is defined %}
            {% include 'client/resource_views/_friends.twig' %}
        {% endif %}
        <br>
        <div class="help"> The resoure(s) is saved on the server in the OAuth2Demo\Server\Controllers\Resource.php.
            Modify the resource function to pull the data.
        </div>
        <p>Here is the full JSON response: </p>
        <pre>{{ response|json_stringify }}</pre>
    
    {# If neither the profile or friends was returned check if the Google Tasks API returned the items #}
    {% elseif response.items is defined %}
        {% include 'client/resource_views/_gTasks.twig' %}
    {# Else there was an error and we did not get the responses we expected to display the Response recieved #}    
    {% else %}    
        <h4>Response:</h4>
        {% include 'client/_error.twig' %}
    {% endif %}
    
    {# Include a link to the API call that was made #}
    {% if '?' in endpoint %}
        <pre><code>  The API call can be seen at <a href="{{ endpoint }}&access_token={{ token }}" target="_blank">{{endpoint}}</a></code></pre>    
    {% else %}
        <pre><code>  The API call can be seen at <a href="{{ endpoint }}?access_token={{ token }}" target="_blank">{{endpoint}}</a></code></pre>
    {% endif %}
    <a href="{{ path('homepage') }}">back</a>
{% endblock %}
